// Place all the styles related to the todos controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: red;

  .container {
    margin-top: 3%;
  }
}

.bg-light {
  background: rgb(0, 216, 161);
  color: white;
}

#inputTitle, #inputDescription {
  width: 50%;
}
