// Place all the styles related to the todos controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: red;

  .container {
    margin-top: 3%;
  }
}

#inputTitle, #inputDescription {
  width: 50%;
}

nav {
  background: rgb(0, 216, 161);
}

#listTodos {
  margin: auto;
}

#roundButton {
  text-align: center;
  border-radius: 50%;
  display: block;
  width: 80px;
  height: 80px;
}

.addTodo {
  color: rgb(0, 216, 161);

  #addIcon {
    font-size: 1.3em;
    margin-right: 1.5%;
  }
}

.field_with_errors {
  display: inline;
}

.showTodo {
  width: 90%;
}

#editButton {
  float: right;
}

.fa-window-close {
  color: black;
  font-size: 1.3em;
}

.fa-user {
  font-size: 1.4em;
  margin-right: 10px;
}

.col-md-offset-3 label {
  margin-top: 2%;
}

.sign-out {
  margin-right: 10px;
}